* {
    font-family: 'Maven Pro', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    /*background-color: #3E545B;*/
    background-color: #F1E4D8;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    
  }
  
  nav {
    background-color: #F1E4D8;
  }
  
  ul {
    display: flex;
    height: 100%;
    align-items: center;
  }
  
  nav ul li {
    padding-left: 16px;
    list-style-type: none;
  
  }
  
  main {
    color: white;
    padding: 32px;
    width: 700px;
    margin: auto;
  }
  
  main section div {
    background-image: url("./img/bg_laranja.jpg");
    padding: 16px;
    /*margin: 16px;*/
    width: 300px;
    height: 200px;
    border-radius: 25px;
    box-shadow: 1px 1px 2px gray;
  
  
  }
  main section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin-top: 32px;
    
  }
  body {
    /* background-color: #F4F5F5;  */
    background-color: #478A99;
    /*background-color: #F4F4F5 ;*/

  }
  h1 {
  font-size: 4rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
   font-size: 1.2rem;
   margin-bottom: 16px;
  }
  a {
    text-decoration: none;
  }